<%= form_for [@commentable, @comment] do |f| %>
  <h5>comment here <%= emojify(":point_down:") %></h5>
  
  <div class="form-group">
    <%= f.text_area :body, :name => "body" , rows: "10" , class: "form-control" %>
  </div>
  <%= f.submit "send" %>
<% end %>