
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                oscarchavez
            <p>full stack dev, vr enthusiast, entrepreneur</p>
            </h1>

            <!-- First Blog Post -->
            <h2>
                <%= link_to 'Hello World', page_path('blogpost') %>
            </h2>
            <p class="lead">
                by <%= link_to 'ostocino', root_path %>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on Feb 19, 2016</p>
            <hr>
            <%= image_tag "1.png", :class => "img-responsive"%>
            <hr>
            <p>First of many posts! Until I fix or create the posts view/controller and add Angular to it, this "sticky" post will remain as a placeholder.</p>
            <%= link_to ('Contact me <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, 'http://twitter.com/ostocino', :class => "btn btn-primary"%>
            <!--%= link_to ('Read More <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, page_path('blogpost'), :class => "btn btn-primary" %-->

            <hr>

            <!-- Pager -->
            <!--ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul-->

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">development</a>
                            </li>
                            <li><a href="#">vr</a>
                            </li>
                            <li><a href="#">graphics</a>
                            </li>
                            <li><a href="#">other</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4><%= link_to('@ostocino','http://twitter.com/ostocino')%></h4>
                <a class="twitter-timeline" href="https://twitter.com/ostocino" data-widget-id="694431438804901888">Tweets de ostocino</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; oscarchavez.me 2016</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->




<!--div class="page-header">
  <h1>Flapper News</h1>
</div>

<div ng-repeat="post in posts | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up"
    ng-click="incrementUpvotes(post)"></span>
  {{post.upvotes}}
  <span style="font-size:20px; margin-left:10px;">
    posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>  
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </span>
  <span>
    <a href="#/posts/{{post.id}}">Comments</a>
  </span>
</div>

<form ng-submit="addPost()"
  style="margin-top:30px;">
  <h3>Add a new post</h3>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Title"
    ng-model="title"></input>
  </div>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Link"
    ng-model="link"></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>