 <footer class="footer">
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
  			<p class="text-muted">ostocino | 2017</p>
  		</div>
  		<div class="col-md-4">
  			<ul class="list-inline social-buttons">
          <li><a href="http://twitter.com/ostocino" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="http://instagram.com/ostocino" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="http://github.com/ostocino" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>
  		</div>
  	</div>
  </div>
</footer>