<div class="row" style="padding-top:30px;">
	<div class="col-sm-12">
		
		<div class="alert alert-warning">
			<%= emojify(":warning:") %> This <strong>blog</strong> is under construction.  

			More info <strong><a href="mailto:oscarchavezromero@gmail.com">here.</a></strong>

			<%= emojify(":warning:") %>
		</div>

	</div>
</div>

